.shape--triangle-r.about {
  transform: rotateY(180deg);
}

.container--about {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

.container--about-main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container--about-descr {
  display: flex;
  justify-content: center;
  width: 45%;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.39);
  border-radius: 15px;
  padding: 8px 15px;
}

.about-descr {
  width: 100%;
  color: white;
  font-size: 20px;
  max-height: 400px;
  overflow-y: scroll;
}

.profile-pic {
  position: relative;
  width: 45%;
  overflow: hidden;
  height: 550px;
}

.profile-pic > img {
  width: 100%;
  height: auto;
  position: relative;
  top: -55px;
}

.hi {
  font-size: 70px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
}

.wavemoji {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
